.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.input {
    width: 100%;
    & > div {
        margin-bottom: 10px;
    }
}
.radio {
    padding-bottom: 10px;
}
.grid {
    margin-bottom: 20px;
}
.user {
    cursor: pointer;
}
.pagination {
    ul {
        justify-content: center;
    }
}
.user-page {
    text-align: left;
    padding-top: 20px;
}
.return-button-wrapper {
    margin-bottom: 10px;
}
.arrow {
    margin-right: 10px;
}
.back {
    transform: translateY(1.5px);
}
.user-info-wrapper {
    margin-bottom: 10px;
}